$i: 0;
@while $i <= 100 {
  .column-#{$i} {
    width: percentage($i / 100.0);
    float: left;
    position: relative;
    box-sizing: border-box;
  }

  $i: $i + 1;
}

.row {
  clear: both;
  display: inline-block;
  margin: 0;
  width: 100%;

  &.d-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &.row-padding {
    [class^=column-] {
      padding: 0 12px;
    }
  }
}
