.tknz-wrapper {
  margin: 0;
  width: calc(80% - 24px);
  border: 1px solid #c9d0d6;
  border-radius: 4px;
  display: inline-block;
  box-shadow: none;
  height: auto;

  .tknz-wrapper-label {
    display: none;
  }

  .tknz-input-wrapper {
    top: 0;
  }

  .tknz-token-label {
    padding: 4px;
    display: inline-block;
  }
}
