body.dashboard {
  [class^=col-md] {
    box-sizing: border-box;
    position: relative;
  }

  .fa-angle-left, .fa-angle-right {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    color: #999;
    cursor: pointer;
    transition: opacity 250ms linear;

    &:hover {
      opacity: 0.5;
    }
  }

  .fa-angle-left {
    left: 0;
  }

  .fa-angle-right {
    right: 0;
  }

  .heading {
    font-size: 17px;
    color: #5E6469;
    margin: 0 0 16px 0;
    position: relative;
    display: inline-block;

    .datepicker {
      visibility: hidden;
      position: absolute;
    }

    span {
      display: inline-block;
      position: relative;

      &:after {
        content: '';
        bottom: 0;
        position: absolute;
        left: 0;
        width: 100%;
        border-top: 1px dashed #999;
      }
    }
  }

  .group-schedules {
    margin: 0 0 48px 0;

    .title {
      font-size: 15px;
      color: #666;
      margin: 4px 0;
    }
  }
}
