body.dashboard.teacher, body.dashboard.student {
  #statistic {
    background: #f4f4f4;
    border-radius: 4px;
    box-shadow: inset 0 1px 4px #ddd;

    .header {
      display: block;
      background-color: #efefef;
      background-image: linear-gradient(180deg, #efefef, #dfe1e2);
      text-shadow: #fff 0 1px 0;
      border: solid 1px #cdcdcd;
      border-color: #d4d4d4;
      border-top-color: #e6e6e6;
      border-right-color: #d4d4d4;
      border-bottom-color: #cdcdcd;
      border-left-color: #d4d4d4;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #FFF inset;
      font-size: 1em;
      font-weight: bold;
      line-height: 18px;
      margin-bottom: 0.5em;
      color: #5E6469;
      padding: 5px 10px 3px 10px;
    }

    .body {
      padding: 12px 10px 0 10px;

      .row {
        padding: 0 0 16px 0;
      }

      .label {
        color: #5E6469;
        font-weight: bold;
      }
    }
  }
}
