body.show {
  #active_admin_content:not(.without_sidebar) {
    #main_content_wrapper #main_content {
      margin-right: 350px;
    }

    #sidebar {
      margin-left: -320px;
      width: 320px;
    }
  }
}
