%form.formtastic{ url: dashboard_teacher_path, method: :get }
  %fieldset.inputs
    %legend
      %span Statistic in range
    %ol
      %li
        %label Teacher
        - selectors = [OpenStruct.new({ id: :all, full_name: 'All teachers' })] + Pundit.policy_scope(current_admin_user, Teacher.active).order(:full_name)
        = select_tag "teacher_id", options_from_collection_for_select(selectors, :id, :full_name, statistic.teacher_id)
      %li
        %label Time Zone
        = select_tag "time_zone", options_for_select(ActiveSupport::TimeZone.all.map { |tz| [tz.to_s, tz.name] }, params[:time_zone] || 'Hanoi')
      %li
        %label Started Date
        %input.datepicker{ type: :text, name: 'started_date', value: "#{statistic.started_date}", required: true }
      %li
        %label Ended Date
        %input.datepicker{ type: :text, name: 'ended_date', value: "#{statistic.ended_date}", required: true }
  %fieldset.actions
    %ol
      %li
        %input{ type: :submit, name: :commit, value: 'Submit' }
