%br
#statistic
  .header Statistic
  .body
    .row
      .column-20
        .label Day Range
      .column-80
        %span= "#{Time.parse(params[:started_date]).strftime("%B %d, %Y")} - #{Time.parse(params[:ended_date]).strftime("%B %d, %Y")}"
    .row
      .column-20
        .label Total students
      .column-80
        %span= total_students
    .row
      .column-20
        .label Total Hours
      .column-80
        %span= total_hours
    .row
      .column-20
        .label Total Lessons
      .column-80
        %span= lesson_schedules.length
%br
%table.index_table
  %thead
    %tr
      %th.col ID
      %th.col Student
      %th.col Started Time
      %th.col Ended Time
  %tbody
    - lesson_schedules.each.with_index do |ls, index|
      %tr{ class: "#{index % 2 == 0 ? 'odd' : 'even'}" }
        %td.col
          %a{ href: "#{course_lesson_schedule_path(ls.course_id, ls.id)}" }= ls.id
        %td.col
          %a{ href: "#{user_path(ls.student_id)}" }= ls.student.nickname
        %td.col= ls.started_time.in_time_zone(ls.course.time_zone).strftime("%B %d, %Y %H:%M")
        %td.col= ls.ended_time.in_time_zone(ls.course.time_zone).strftime("%B %d, %Y %H:%M")
