%br
#statistic
  .header Statistic
  .body
    .row
      .column-20
        .label Day Range
      .column-80
        %span= "#{Time.parse(params[:started_date]).strftime("%B %d, %Y")} - #{Time.parse(params[:ended_date]).strftime("%B %d, %Y")}"
    .row
      .column-20
        .label Total teachers
      .column-80
        %span= teachers.length
    .row
      .column-20
        .label Total Hours
      .column-80
        %span= teachers.inject(0) { |r, data| r + data[3] }
    .row
      .column-20
        .label Total Lessons
      .column-80
        %span= teachers.inject(0) { |r, data| r + data[1].length }
%br
%br
%table.index_table
  %thead
    %tr
      %th.col ID
      %th.col Teacher
      %th.col Total students
      %th.col Total Hours
      %th.col Total Income
      %th.col Total Lessons
      %th.col Actions
  %tbody
    - teachers.each.with_index do |data, index|
      - teacher, lesson_schedules, total_students, total_hours = data
      %tr{ class: "#{index % 2 == 0 ? 'odd' : 'even'}" }
        %td.col
          %a{ href: "#{user_path(teacher.slug)}" }= teacher.id
        %td.col
          %a{ href: "#{user_path(teacher.slug)}" }= teacher.full_name
        %td.col= total_students
        %td.col= total_hours
        %td.col= money_format(teacher.teacher_profile.price * total_hours)
        %td.col= lesson_schedules.length
        %td.col
          %a{ href: dashboard_teacher_path(teacher_id: teacher.id, started_date: params[:started_date], ended_date: params[:ended_date]) } View
