.heading
  %input.datepicker{ value: in_date.iso8601 }
  %span Anchor: #{in_date.strftime("%B, %d %Y %z")}
- maps = { previous: -1, current: 0, next: 1 }
- dates.each do |key, lesson_schedules|
  .group-schedules
    .title Date: #{(in_date + maps[key].days).strftime('%d/%m')}
    - if lesson_schedules.present?
      %table.index_table
        %thead
          %tr
            %th.col ID
            %th.col Course
            %th.col Teacher
            %th.col Student
            %th.col Started Time
            %th.col Duration (min)
            %th.col Status
            %th.col Action
        %tbody
          - lesson_schedules.each do |ls|
            %tr
              %td= link_to ls.id, course_lesson_schedule_path(ls.id, course_id: ls.course_id)
              %td= link_to "Course #{ls.course_id}", course_path(ls.course)
              %td= link_to ls.teacher.full_name, user_path(ls.teacher)
              %td= link_to ls.student.nickname, user_path(ls.student)
              %td= ls.started_time.in_time_zone(time_zone).strftime("%H:%M")
              %td= ls.length
              %td
                %span.status_tag{ class: admin_statuses[ls.status] }= ls.status
              %td
                - if !ls.cancel?
                  = link_to "Cancel", cancel_course_lesson_schedule_path(ls.id, course_id: ls.course_id), method: :post
    - else
      %div There is no lessons schedules in this date

:javascript
  $(function() {
    $('.datepicker').datepicker();
    $('.heading').on('click', function() {
      $('.datepicker').datepicker('show');
    })
    $('.heading input').on('change', function() {
      var day = new Date($(this).val())
      location.href = '/dashboard?in_date=' + [day.getFullYear(), day.getMonth() + 1, day.getDate()].join('-');
    })
  })
