= render 'admin/dashboard/student/form', statistic: statistic
- if state == 'collection'
  = render 'admin/dashboard/student/statistics', students: students
- elsif state == 'single'
  = render 'admin/dashboard/student/statistic', student: student
