= render 'admin/dashboard/teacher/form', statistic: statistic
- if state == 'collection'
  = render 'admin/dashboard/teacher/statistics', teachers: teachers
- elsif state == 'single'
  = render 'admin/dashboard/teacher/statistic', lesson_schedules: lesson_schedules, total_students: total_students, total_hours: total_hours
