- @versions = resource.versions.reorder(id: :desc)
- if !@versions.empty?
  .attributes_table
    %table
      %tbody
        - @versions.each do |version|
          %tr.row
            %td
              - admin_user = AdminUser.find_by(id: version.whodunnit)
              - if admin_user
                = link_to admin_user.full_name, admin_user_path(version.whodunnit)
              - else
                = 'Unknown'
            %td= time_ago_in_words version.created_at
            %td= version.event
            %td
              - if version.event != 'create'
                = link_to 'Revert', revert_paper_trail_version_path(version), method: :post
- else
  %p This item does not have any registered version.
