<% context.instance_eval do
  column('Lesson Schedule') do |version|
    ls = version.item
    link_to "Lesson Schedule - #{ls.id}", course_lesson_schedule_path(course_id: ls.course_id, id: ls.id) if version.item
  end
  column('Status') do |version|
    if version.event == 'update'
      ls = LessonSchedule.new YAML.load(version.object)
      status_tag(ls.status, class: admin_statuses[ls.status])
    end
  end
end %>
