@font-face {
  font-family: "UTM Avo Bold Italic";
  src: url("<%= asset_path 'UTM_Avo_Bold_Italic.ttf' %>") format("truetype");
}

@font-face {
  font-family: "UTM Avo Bold";
  src: url("<%= asset_path 'UTM_Avo_Bold.ttf' %>") format("truetype");
}

@font-face {
  font-family: "UTM Avo Italic";
  src: url("<%= asset_path 'UTM_Avo_Italic.ttf' %>") format("truetype");
}

@font-face {
  font-family: "UTM Avo Regular";
  src: url("<%= asset_path 'UTM_Avo_Regular.ttf' %>") format("truetype");
}
