.d-inline {
  display: inline !important;
}

.width-200px {
  width: 200px !important;
}

.block-range-label {
  margin: 0 -14px 0 10px;
  padding: 6px 0;
}

.group-margin {
  clear: both;
  margin: 12px 0 0 0;
}

.mg-left-4px {
  margin-left: 4px !important;
}

.mg-left-8px {
  margin-left: 8px !important;
}

.mg-left-6px {
  margin-left: 6px !important;
}

@each $var in 11, 12, 18, 24, 40, 64 {
  .fontsize-#{$var}px {
    font-size: #{$var}px;
  }
}
