%form.formtastic{ url: dashboard_student_path, method: :get }
  %fieldset.inputs
    %legend
      %span Statistic in range
    %ol
      %li
        %label Student
        - selectors = [OpenStruct.new({ id: :all, nickname: 'All students' })] + Pundit.policy_scope(current_admin_user, Student.active).order(:nickname)
        = select_tag "student_id", options_from_collection_for_select(selectors, :id, :nickname, statistic.student_id)
      %li.time-zone
        %label Time Zone
        = select_tag "time_zone", options_for_select(ActiveSupport::TimeZone.all.map { |tz| [tz.to_s, tz.name] }, params[:time_zone] || 'Hanoi')
      %li.started-date
        %label Started Date
        %input.datepicker{ type: :text, name: 'started_date', value: "#{statistic.started_date}" }
      %li.ended-date
        %label Ended Date
        %input.datepicker{ type: :text, name: 'ended_date', value: "#{statistic.ended_date}" }
  %fieldset.actions
    %ol
      %li
        %input{ type: :submit, name: :commit, value: 'Submit' }
:javascript
  $(function() {
    checkDateSelectors();

    $('#student_id').on('change', function() {
      checkDateSelectors();
    })

    function checkDateSelectors() {
      if ($('#student_id').val() == 'all') {
        $('.started-date').removeClass('hide');
        $('.ended-date').removeClass('hide');
        $('.time-zone').removeClass('hide');
      } else {
        $('.started-date').addClass('hide');
        $('.ended-date').addClass('hide');
        $('.time-zone').addClass('hide');
      }
    }
  })
