%br
#statistic
  .header Statistic
  .body
    .row
      .column-20
        .label Student Name
      .column-80
        %span= student.full_name
    .row
      .column-20
        .label Total Courses
      .column-80
        %span= student.courses.count
    .row
      .column-20
        .label Total Hours
      .column-80
        %span= student.courses.pluck(:number_of_lessons, :lesson_duration).inject(0) { |sum, data| sum + data[0] * data[1] / 60.0}
%br
%table.index_table
  %thead
    %tr
      %th.col ID
      %th.col Code
      %th.col Status
      %th.col Teachers
      %th.col Number of lessons
      %th.col Total hours
      %th.col Lesson length
      %th.col Price
  %tbody
    - student.courses.each.with_index do |course, index|
      %tr{ class: "#{index % 2 == 0 ? 'odd' : 'even'}" }
        %td.col
          %a{ href: "#{course_path(course)}" }= course.id
        %td.col
          %a{ href: "#{course_path(course)}" }= course.code
        %td.col
          %span.status_tag{ class: admin_statuses[course.status] }= course.status
        %td.col
          - course.teachers.each.with_index do |teacher, index|
            - if index > 0
              %span,
            %a{ href: "#{user_path(teacher)}" }= teacher.full_name
        %td.col= "#{course.number_of_learned_lessons} / #{course.number_of_lessons}"
        %td.col= "#{course.learned_lessons.to_a.sum { |ls| ls.length } / 60} / #{course.number_of_lessons * course.lesson_duration / 60}"
        %td.col= course.lesson_duration
        %td.col= money_format course.price
