%br
#statistic
  .header Statistic
  .body
    .row
      .column-20
        .label Total students
      .column-80
        %span= students.count
    .row
      .column-20
        .label Total courses
      .column-80
        %span= students.inject(0) { |sum, s| sum + s[1].pluck(:course_id).uniq.count }
%br
%br
%table.index_table
  %thead
    %tr
      %th.col ID
      %th.col Student
      %th.col Total courses
      %th.col Total lessons
      %th.col Total hours
      %th.col Total teachers
      %th.col Total payments
      %th.col Actions
  %tbody
    - students.each.with_index do |data, index|
      - student, lesson_schedules = data
      %tr{ class: "#{index % 2 == 0 ? 'odd' : 'even'}" }
        %td.col
          %a{ href: "#{user_path(student)}" }= student.id
        %td.col
          %a{ href: "#{user_path(student)}" }= student.full_name
        %td.col= lesson_schedules.pluck(:course_id).uniq.count
        %td.col= lesson_schedules.count
        %td.col= lesson_schedules.inject(0) { |acc, elem| acc + elem.length / 60.0 }
        %td.col
          - Teacher.where(id: lesson_schedules.pluck(:teacher_id).uniq).each.with_index do |teacher, index|
            - if index > 0
              %span,
            %a{ href: "#{user_path(teacher)}" }= teacher.full_name
        %td.col= money_format lesson_schedules.inject(Money.new(0)) { |acc, elem| acc + elem.price }
        %td.col
          %a{ href: "#{dashboard_student_path(student_id: student.id)}" } View
