<% context.instance_eval do
  f.inputs "Admin Details" do
    f.input :role, as: :string, input_html: { disabled: true, value: f.object.role.titleize }
    f.input :email
    f.input :full_name
  end
  render 'admin/admin_users/teachers', f: f, resource: resource
end %>
