<% context.instance_eval do
  f.inputs "Admin Details" do
    f.input :email
    f.input :full_name
    f.input :password
    f.input :password_confirmation
    f.input :role, as: :select, collection: admin_role_opts, include_blank: false, selected: f.object.role || 'admin'
  end
end %>
