- f.inputs 'List of teachers' do
  - f.fields_for :teacher_ids do |g|
    %li.has_many_container
      - resource.teacher_ids.each do |teacher_id|
        = render 'admin/admin_users/teacher', teacher_id: teacher_id, g: g
      - template = render('admin/admin_users/teacher', teacher_id: nil, g: g)
      %a.button.has_many_add{ href: '#', data: { html: template.html_safe, placeholder: 'NEW_TEACHER' } } New Teacher
