%fieldset.inputs.has_many_fields
  %ol
    - g.input :teacher, label: 'Teacher', as: :select, collection: Teacher.all, input_html: { name: 'admin_user[teacher_ids][]', value: teacher_id }, selected: teacher_id
    %li
      %a.button.has_many_remove{ href: '#' } Remove
