#ui-datepicker-div {
  width: auto;
  padding: 2px;
  z-index: 1000 !important;

  .ui-datepicker-header {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    border-radius: 0;
    margin: 0;
    border: 0;

    &:before {
      display: none;
    }
  }

  .ui-datepicker-buttonpane button {
    text-shadow: none;
  }

  .ui-datepicker-prev-hover {
    left: 1px;
    top: 2px;
  }

  .ui-datepicker-next-hover {
    right: 1px;
    top: 2px;
  }

  .ui-icon-circle-triangle-e {
    margin-left: -12px;
  }

  .ui-icon-circle-triangle-w {
    margin-left: -4px;
  }

  .ui_tpicker_time_label {
    padding-top: 16px;
  }

  .ui_tpicker_time {
    padding-bottom: 0;
    padding-top: 16px;
    margin-bottom: 8px;
  }

  .ui_tpicker_hour {
    padding-top: 4px;
    margin-bottom: 8px;
  }
}

#ui-datepicker-div .ui-datepicker-calendar {
  border: 0;
  box-sizing: border-box;
  box-shadow: none;
  background-color: white;
  width: 100%;
  position: initial;
  margin: 0 1px 0 0;

  thead th {
    font-weight: bold;
    font-size: 11px;
    padding: 6px 0 8px 0;
    background-color: white;
  }

  tbody td {
    height: 22px;

    a {
      border-radius: 0;
      width: 10px;
      height: 14px;
      padding: 2px 9px;
      font-weight: normal;
      font-size: 12px;
    }
  }
}

#ui-datepicker-div .ui-state-active {
    border: 1px solid #7E7783;
    background: #5F5964;
    font-weight: bold;
    color: white;
    outline: none;
}
#ui-datepicker-div .ui-datepicker-header a {
    margin-top: 8px;
}
#ui-datepicker-div .ui-datepicker-header a span {
    display: block;
}

.ui-timepicker-div {
  margin: 0 0 0 0;
}

.ui-timepicker-div dl {
    text-align: left;
    color: #5E6469;
}
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; font-weight: normal; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
