= semantic_form_for resource do |f|
  = f.inputs 'Post' do
    = f.input :status, as: :select, collection: Post.statuses.map { |c, k| [c.titleize, c] }, include_blank: false
    = f.input :author
    = f.input :category, as: :select, collection: Post.categories.map { |c, k| [c.titleize, c] }, include_blank: false
    = f.input :title
    = f.input :cover_image, as: :file
    = f.input :brief
    %li
      %label Content
      %div.simplemde-wrapper
        = text_area_tag 'post[markdown]', resource.markdown
    = f.input :content, as: :hidden
    = f.input :tags, as: :hidden
    %li
      %label Tags
      = text_field 'tags', '', id: 'tags'
  = f.actions

:javascript
  $(function() {
    let postTags = #{resource.tags};
    let simplemde = new SimpleMDE({
      element: document.getElementById("post_markdown"),
      spellChecker: false
    });

    $('form').on('submit', function() {
      let content = simplemde.markdown(simplemde.value());

      $('#post_content').val(content);
    })

    let $tags = $('#tags').tokenizer({
      separators: [',', '.'],
      allowUnknownTags: true,
      callback: function($input) {
        $('#post_tags').val($input.tokenizer('get'));
      }
    });

    postTags.forEach(function(tag) {
      $tags.tokenizer('push', tag);
    })
  })
