= semantic_form_for resource, builder: ActiveAdmin::FormBuilder do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs 'Course' do
    = f.input :teacher, collection: Teacher.all
    = f.input :student, collection: Student.all
    = f.input :number_of_lessons
    = f.input :started_date, as: :datepicker
    = f.input :trial
  = f.inputs 'Schedules' do
    = f.has_many :course_schedules, new_record: 'New Schedule', heading: false do |cs|
      = cs.input :block_range_day_begin, as: :select, collection: calendar_days_opts
      = cs.input :block_range_time_begin, :as => :string, :input_html => { class: 'time-picker' }
      = cs.input :block_range_day_end, :as => :select, collection: calendar_days_opts
      = cs.input :block_range_time_end, :as => :string, :input_html => { class: 'time-picker'}
  = f.actions
