//= require jquery-ui
//= require jquery-ui-timepicker-addon
//= require bootstrap
//= require font-awesome
//= require simplemde.min
//= require tokenizer
//= require_tree ./admin

@import "active_admin/mixins";
@import "active_admin/base";

#index_table_users {
  tr.red .col-full_name {
    color: red;
  }
}

input[disabled="disabled"], input[disabled], input[readonly="readonly"], input[readonly] {
  background-color: #F4F4F4;
  border: 0px solid #F4F4F4 !important;

  &:focus {
    border: 0px solid #F4F4F4 !important;
    box-shadow: none !important;
  }
}
