<% context.instance_eval do
  f.inputs "Teacher Profile", for: [:teacher_profile, f.object.teacher_profile] do |p|
    p.input :price_units, input_html: { value: f.object.teacher_profile.persisted? ? f.object.teacher_profile.price_units : nil }
    p.input :price_currency, collection: Payment::CURRENIES, include_blank: false
  end
end %>
