<% context.instance_eval do
  inputs 'Course' do
    f.input :number_of_lessons
    f.input :number_of_reschedule
    f.input :lesson_duration, as: :select, collection: [['Half hour', 30], ['One hour', 60], ['One and half hours', 90], ['Two hours', 120]], input_html: { required: true }
  end
end %>
