<% context.instance_eval do
  inputs 'Course' do
    f.semantic_fields_for :course_teachers do |ct|
      ct.input :teacher, collection: Pundit.policy_scope(current_admin_user, Teacher)
      ct.input :status, as: :hidden
    end
    f.input :student, collection: Pundit.policy_scope(current_admin_user, Student)
    f.input :price_units, input_html: { value: f.object.persisted? ? f.object.price_units : nil }
    f.input :price_currency, collection: Payment::CURRENIES, include_blank: false
    f.input :number_of_lessons, input_html: { required: true }
    f.input :number_of_reschedule, input_html: { required: true }
    f.input :lesson_duration, as: :select, collection: [['Half hour', 30], ['One hour', 60], ['One and half hours', 90], ['Two hours', 120]], input_html: { required: true }
    f.input :started_date, as: :datepicker, input_html: { required: true }
    f.input :time_zone, as: :select, collection: ActiveSupport::TimeZone.all.map { |tz| [tz.to_s, tz.name] }, selected: 'Hanoi', include_blank: false
    f.input :trial
  end
  inputs 'Schedules' do
    f.has_many :course_schedules, new_record: 'New Schedule', heading: false do |cs|
      cs.input :block_range_day_begin, as: :select, collection: calendar_days_opts
      cs.input :block_range_time_begin, as: :string, :input_html => { class: 'time-picker' }
      cs.input :_destroy, as: :boolean
    end
    render 'shared/picker'
  end
end %>
